.hh1 {
    animation: apparitionhello 1s linear both;
}

.hh2 {
    animation: apparitionhello 1s 0.5s linear both;
}

.hh3 {
    animation: apparitionhello 1s 1s linear both;
}

.hh4 {
    animation: apparitionhello 1s 1.5s linear both;
}

@keyframes apparitionhello {
    0% {
        margin-left: -400px;
    }
    50% {
        margin-left: -200px;
    }
    100% {
        margin-left: 0px;
    }
}

.hhd1 {
    animation: disparitionhello 0.5s linear both;
}

.hhd2 {
    animation: disparitionhello 0.5s 0.5s linear both;
}

.hhd3 {
    animation: disparitionhello 0.5s 1s linear both;
}

.hhd4 {
    animation: disparitionhello 0.5s 1.5s linear both;
}

@keyframes disparitionhello {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -200px;
    }
    100% {
        margin-left: -400px;
    }
}

.nameeffect {
    animation: nameeffect 1.5s linear both;
}

@keyframes nameeffect {
    0% {
        margin-top: 150px;
    }
    100% {
        margin-top: 25px;
        font-size: 15px;
    }
}

.nameeffectreset {
    animation: nameeffectreset 1s 1s linear both;
}

@keyframes nameeffectreset {
    0% {
        margin-top: 25px;
        font-size: 15px;
    }
    100% {
        margin-top: 150px;
        font-size: 55px;
    }
}

.disparition {
    animation: disparition 1.5s linear both;
}

@keyframes  disparition {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-150%);
    }
}

.apparition {
    animation: apparition 1s 0.5s linear both;
}

@keyframes apparition {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}

.apparition2 {
    animation: apparition2 0.5s linear both;
}

@keyframes apparition2 {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}

.monjob {
    animation: monjob 1s 2.2s linear both;
}

@keyframes monjob {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loadingpage {
    animation: loadingpage 1s 0.4s linear both;
}

@keyframes loadingpage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mapresentationappa {
    animation: mapresentationappa 1s 2s linear both;
}

@keyframes mapresentationappa {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}
.grossissement1 {
    animation: grossissement1 1s linear both;
}

@keyframes grossissement1 {
    0% {
        transform: translate(0);
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-145px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement1 {
    animation: degrossissement1 1s linear;
}

@keyframes degrossissement1 {
    0% {
        transform: translate(-145px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(0);
        height: 190px;
        width: 55px;
    }
}

.grossissement2 {
    animation: grossissement2 1s linear both;
}

@keyframes grossissement2 {
    0% {
        transform: translate(0);
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-220px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement2 {
    animation: degrossissement2 1s linear;
}

@keyframes degrossissement2 {
    0% {
        transform: translate(-220px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        height: 190px;
        width: 55px;
    }
}

.grossissement3 {
    animation: grossissement3 1s linear both;
}

@keyframes grossissement3 {
    0% {
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-275px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement3 {
    animation: degrossissement3 1s linear;
}

@keyframes degrossissement3 {
    0% {
        transform: translate(-275px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        height: 190px;
        width: 55px;
    }
}

.grossissement4 {
    animation: grossissement4 1s linear both;
}

@keyframes grossissement4 {
    0% {
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-350px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement4 {
    animation: degrossissement4 1s linear;
}

@keyframes degrossissement4 {
    0% {
        transform: translate(-350px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        height: 190px;
        width: 55px;
    }
}

.grossissement5 {
    animation: grossissement5 1s linear both;
}

@keyframes grossissement5 {
    0% {
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-410px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement5 {
    animation: degrossissement5 1s linear;
}

@keyframes degrossissement5 {
    0% {
        transform: translate(-410px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        height: 190px;
        width: 55px;
    }
}

.grossissement6 {
    animation: grossissement6 1s linear both;
}

@keyframes grossissement6 {
    0% {
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-470px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement6 {
    animation: degrossissement6 1s linear;
}

@keyframes degrossissement6 {
    0% {
        transform: translate(-470px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        height: 190px;
        width: 55px;
    }
}

.grossissement7 {
    animation: grossissement7 1s linear both;
}

@keyframes grossissement7 {
    0% {
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-530px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement7 {
    animation: degrossissement7 1s linear;
}

@keyframes degrossissement7 {
    0% {
        transform: translate(-530px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        height: 190px;
        width: 55px;
    }
}

.grossissement8 {
    animation: grossissement8 1s linear both;
}

@keyframes grossissement8 {
    0% {
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        transform: translate(-600px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
}

.degrossissement8 {
    animation: degrossissement8 1s linear;
}

@keyframes degrossissement8 {
    0% {
        transform: translate(-600px);
        width: 800px;
        height: 350px;
        filter: grayscale(0) saturate(1.5) brightness(1);
    }
    100% {
        height: 190px;
        width: 55px;
    }
}


#border {
    animation: loading 2.5s 1s both linear;
    margin-left: -175px;
}

@keyframes loading {
    0% {
                transform: scaleX(0);
      }
      17% {
                transform: scaleX(0.18);
      }
      24% {
                transform: scaleX(0.4);
      }
      46% {
                transform: scaleX(0.81);
      }
      100% {

                transform: scaleX(1);
      }
}

.fondu-out {
    animation: fondu-out 0.5s linear both;
}

@keyframes fondu-out {
    0% {
        opacity: 1
    }
    25% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}